
<header class="header">
  <div class="header-hold">
    <div id="logo"><a href="/"><img src="/img/logo.jpg" class="logo" alt="видео"></a></div>
    <div id="menu-top">
      <span class="current user-li">Видео</span>
      <a href="/foto" class="user-li" target="_self">Фото</a>
      <a href="/news" class="user-li" target="_self">Новости</a>
    </div>
    <div id="search">
      <form class="search-site" action="" method="">
        <input type="text" placeholder="Поиск видео" name="" value="">
        <input type="submit" name="" value="">
      </form>
    </div>
    <div class="user-menu">
      <ul class="user-ul">
        <li class="user-li"><a href="/signin">Вход</a></li>
        <li class="user-li"><a href="/signup">Регистрация</a></li>
      </ul>
    </div>
  </div>
</header>
