<header class="header">
  <div class="header_container"><!-- Правильно ли создавать в хэдере еще один контейнер в котором будут логотип меню и тд?-->
    <div class="header_container_logo"><a href="/"><img src="/img/logo.jpg" class="logo" alt="видео"></a></div>
    <nav class="header_container_main_menu">
      <ul class="main_menu_ul">
        <li class="main_menu_ul_li"><a href="/">Видео</a></li>
        <li class="main_menu_ul_li"><a href="/foto" target="_self">Фото</a></li>
        <li class="main_menu_ul_li"><a href="/news" target="_self">Новости</a></li>
      </ul>
    </nav>
    <div class="header_container_search">
      <form class="search_form" action="" method="">
        <button type="text" placeholder="Поиск видео" name="" value="">
        <button type="submit" name="" value="">
      </form>
    </div>
    <div class="header_container_auth_menu">
      <ul class="auth_menu_ul">
        <li class="auth_menu_ul_li"><a href="/signin">Вход</a></li>
        <li class="auth_menu_ul_li"><a href="/signup">Регистрация</a></li>
      </ul>
    </div>
  </div>
</header>
